

#footer {
	height: 40px;
	line-height: 40px;
	background-color: #F6F6F6;
	color: #444;
	margin-top: 40px;
	padding: 10px 0;
	font-size: 16px;
	text-align: center;

	a {
		color: #444;

		&:hover {
			background-color: #000;
			color: #fff;
			text-decoration: none;
		}
	}
	.grid {
		border-top: 1px solid rgba(0,0,0,.08);
	}
}

