#header {
	background-color: #333;
	padding: 0;
	height: 50px;
}

.disc-logo {
	display: inline-block;
	font-family: "effra",sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 300;
	color: #fff;
	line-height: 50px;
	text-transform: uppercase;
	a {
		text-decoration: none;
		color: #fff;
		transition: all .7s;
		&:hover {
			color: #aaa;
			color: rgba(255,255,255, .5);
		}
	}
	@media screen and (max-width: $small) {
		font-size: 13px;
  	}
}

.main-navigation {
	float: right;
}

.main-navigation ul {
	@include navigation-list;
	font-family: "effra",sans-serif;
	font-weight: 300;
	li {
		line-height: 50px;
	}
	a {
		height: 50px;
		padding: 0 25px;
		display: inline-block;
		text-decoration: none;
		color: #fff;
		background-color: #333;
		transition: all .7s;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		overflow: hidden;
		&:hover {
			background-color: #fff;
			color: #333;
		}
		@media screen and (max-width: $small) {
		font-size: 10px;
  	}
	}
}

.hero {
	min-height: 300px;
	// background: url('../img/krucza23.jpg');
	background-size: cover;
	background-position: center;
	margin-bottom: 40px;
	padding: 20px 0;
}

.homepage {
	text-align: center;
	min-height: 500px;

	@media screen and (max-width: $medium) {
		min-height: 300px;
  	}
  	@media screen and (max-width: $small) {
		min-height: 200px;
  	}
	.headline {
		display: inline-block;
		color: #fff;
		padding: 15px;
		margin: 50px 0 0 0;
		background: rgba(0, 0, 0, .8);
  		font-weight: 300;
  		@media screen and (max-width: $medium) {
		font-size: 1.5em;
  		}
  		@media screen and (max-width: $small) {
		font-size: 1em;
  		}

	}

}