<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <div class="animsition">
    {% include header.html %}


        {{ content }}


    {% include footer.html %}
      <!-- otc - JavaScript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="{{ "/js/jquery-1.11.3.min.js" | prepend: site.baseurl }}"></script>
<!--  <script src="js/jquery-2.1.4.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/js/jquery.animsition.min.js"></script>
<!--  <script src="js/jquery-2.1.4.min.js"></script> -->
  <script src="{{ "/js/script.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/fancybox/source/jquery.fancybox.pack.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
